@tailwind base;
@tailwind components;
@tailwind utilities;

/* Opcional: Fuente Inter desde Google Fonts en index.html si quieres */
body {
  @apply bg-gray-50 text-gray-900;
}

@layer base {
  /* Evita zoom en iOS al tocar inputs */
  input, textarea, select {
    @apply text-base; 
  }
}